img {
    height: 200px; 
    display: flex;
    justify-content: space-between;
	border: 7px solid lightblue ;  
    padding: 15px;
}
.menu-bar {
    display:flex;
     justify-content:space-around;
} 
h1,h2,h3
{ 
         text-align: center;
}
body{
    background: url("https://www.enjpg.com/img/2020/light-pink-background-6-500x313.jpg"); 
}

p{
        text-align: center;

}
 